@model REST_Framework.Models.Voiture

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>Voiture</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Marque)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Marque)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Modele)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Modele)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Annee)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Annee)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.couleur)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.couleur)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Puissance)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Puissance)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.NumeroSerie)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.NumeroSerie)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.Id }) |
    @Html.ActionLink("Back to List", "Index")
</p>
